

body {
    background-color: #01171b;
}

svg path{
    transition: 0.05s;
    fill: #a10f05;
    stroke: #eee;
    stroke-width: .25;
    padding-left: 10%;
}

svg path:hover{
    fill: #006284;
    transition: 0.05s;
    cursor: pointer; 
}